<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
<th:block th:replace="layout/adminHeader"></th:block>
		<div id="layoutSidenav_content">
			<main>
				<br />
				<br />
				<br />
				

				<div class="container">
				
				<br />
				<br />
				<ul>
					
					<li><a href="/admin/houseDetailSave"><span>하우스 디테일 등록 페이지 이동</span></a></li> <br/>
					<li><a href="/admin/houseSave"><span>방 찾기 페이지 테이블 등록 페이지 이동</span></a></li> <br/>
					<li><a href="/admin/houseDetailRoomSave"><span>하우스 디테일 룸 테이블 등록 페이지이동</span></a></li>
				</ul>
				<br />
				<br />
				<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
					<div class="input-group">
						<input class="form-control" type="text" id="search__houseNumber" placeholder="하우스 넘버를 입력하세요." aria-label="Search" aria-describedby="basic-addon2" />
						<div class="input-group-append">
							<button class="btn btn-primary" type="button" id="btn-search">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
					
				</form>
				<br />
				<br /><br />
				<br />
					<form>
						<div class="admin-detail-UD">
					
						<div class="form-group">
							<label for="img1">하우스번호</label> <input type="text" class="form-control" id="houseNumber" name="houseNumber">
						</div>
						<div class="form-group">
							<label for="img1">사진1 예: /img/d사이에하우스넘버넣으세요a.jpg</label> <input type="text" class="form-control" id="img1" name="img1" value="/img/da.jpg">
						</div>
						<div class="form-group">
							<label for="img2">사진2 예: /img/d124b.jpg</label> <input type="text" class="form-control" id="img2" name="img2" value="/img/db.jpg">
						</div>
						<div class="form-group">
							<label for="img3">사진3 예: /img/d124c.jpg</label> <input type="text" class="form-control" id="img3" name="img3" value="/img/dc.jpg">
						</div>
						<div class="form-group">
							<label for="title">타이틀</label> <input type="text" class="form-control" id="title" name="title">
						</div>

						<div class="form-group">
							<label for="content">내용</label>
							<textarea class="form-control" rows="6" id="content" name="content"></textarea>

						</div>
						<div class="form-group">
							<label for="hashTag">해쉬태그</label> <input type="text" class="form-control" id="hashTag" name="hashTag">
						</div>
						<div class="form-group">
							<label for="tourPoint">투어포인트</label>
							<textarea class="form-control" rows="6" id="tourPoint" name="tourPoint"></textarea>
						</div>
						<div class="form-group">
							<label for="address">주소</label> <input type="text" class="form-control" id="address" name="address">
						</div>
						<div class="form-group">
							<label for="gender">여 or 남 한글자로</label> <input type="text" class="form-control" id="gender" name="gender" maxlength=1>
						</div>


						<div class="form-group">
							<label for="contractEndDate">지점계약종료일</label> <input type="text" class="form-control" id="contractEndDate" name="contractEndDate">
						</div>
						<div class="form-group">
							<label for="maxResidencePersonnel">최대거주인원</label> <input type="text" class="form-control" id="maxResidencePersonnel" name="maxResidencePersonnel">
						</div>
						<div class="form-group">
							<label for="houseForm">주택유형</label> <input type="text" class="form-control" id="houseForm" name="houseForm">
						</div>
						<div class="form-group">
							<label for="construction">구조</label> <input type="text" class="form-control" id="construction" name="construction">
						</div>
						<div class="form-group">
							<label for="drawing">도면 예: /img/draw124.png or .jpg</label> <input type="text" class="form-control" id="drawing" name="drawing" value="/img/draw.jpg">
						</div>

						<div class="form-group">
							<label for="tourApply">투어신청 설명</label>
							<textarea class="form-control" rows="6" id="tourApply" name="tourApply"></textarea>
						</div>
						<div class="form-group">
							<label for="subway">지하철</label>
							<textarea class="form-control" rows="3" id="subway" name="subway"></textarea>

						</div>
						<div class="form-group">
							<label for="bus">버스</label> <input type="text" class="form-control" id="bus" name="bus">
						</div>
						<div class="form-group">
							<label for="univercity">대학교</label>
							<textarea class="form-control" rows="3" id="univercity" name="univercity"></textarea>
						</div>
						<div class="form-group">
							<label for="mart">마트</label>
							<textarea class="form-control" rows="3" id="mart" name="mart"></textarea>
						</div>

						<div class="form-group">
							<label for="facilities">편의시설</label>
							<textarea class="form-control" rows="3" id="facilities" name="facilities"></textarea>
						</div>
						<div class="form-group">
							<label for="heal">병원</label>
							<textarea class="form-control" rows="3" id="heal" name="heal"></textarea>
						</div>

						<button id="btn-update" type="button" class="btn btn-warning">수정</button>&emsp;&emsp;
						<button id="btn-deleteById" type="button" class="btn btn-danger">삭제</button>
						
						</div>
						
					</form>
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
				</div>
				<script src="/js/adminHouseDetailUD.js"></script>
			</main>
			<th:block th:replace="layout/adminFooter"></th:block>
