<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>셰어하우스 우주(WOOZOO)</title>
    <link rel="stylesheet" type="text/css" href="/css/mysh1.css">
    <link rel="stylesheet" type="text/css" href="/css/mysh3.css">
</head>
<body>
<th:block th:replace="layout/header"></th:block>
  <main class="mains"> 
    <div class="sectionn">  
      <ul class="tab__title"> 
      <li class="faq1">입주관련</li>
      <li class="faq2" OnClick="location.href = '/faq/contract'">계약관련</li>
      </ul>
      <div class="faq__list">
        <div class="faq__faq">
          <details th:each="faqMoveIn : ${faqMoveInList}">
          <summary th:text="${faqMoveIn.title}"></summary>
              <div class="faq__answer" th:text="${faqMoveIn.content}"></div>                
          </details>
      </div>
	</div>	
    </div>
  </main>
<th:block th:replace="layout/footer"></th:block>
</body>
</html>